// COLORS
$color-accent: #000
$color-text-alt: rgba(138, 138, 138, 1)

// TYPOGRAPHY
$heading-font-family: "Playfair Display", serif
$body-font-family: 'Afacad Flux'

// h1
$h1-size-desktop: pxToRem(100)
$h1-line-height-desktop: pxToRem(90)
$h1-text-transform: uppercase
$h1-weight: normal

// h2
$h2-size-desktop: pxToRem(45)
$h2-line-height-desktop: 100%
$h2-text-transform: uppercase

// h3
$h3-size-desktop: pxToRem(34)
$h3-line-height-desktop: 107%
$h3-text-transform: uppercase
$h3-weight: 600

// h3
$h5-size-desktop: pxToRem(17)
$h5-line-height-desktop: 130%
$h5-font-family: $body-font-family

// meta
$meta-font-family: $body-font-family
$meta-size-desktop: pxToRem(17)
$meta-line-height-desktop: 100%
$meta-weight: normal 

// COMPONENTS
// header
$header-logo-height-desktop: pxToRem(43)
$header-background: none
$header-border-bottom-width: 0

// hero
$hero-background-color: none
$hero-height-desktop: unset

// footer
$footer-background-color: none
$footer-logo-height-desktop: pxToRem(83)

// button
$btn-border-radius: 0

// GRID
$grid-gutter: pxToRem(20)
$grid-gutter-lg: pxToRem(20)
$grid-gutter-xxl: pxToRem(20)

// BlOCKS
// gallery
$block-gallery-carousel-background: transparent
$block-gallery-carousel-height-desktop: pxToRem(552)

// ICONS
$icons-custom-font-family: 'icomoon'
$icons-custom: ()
$icons-custom: map-merge($icons-custom, ("search-line": "\e900"))