// COLORS
$color-accent: #000
$color-text-alt: #585858

// TYPOGRAPHY
$heading-font-family: "Playfair Display", serif
$body-font-family: 'Afacad Flux'

$body-line-height-desktop: pxToRem(29)

// h1
$h1-size-desktop: pxToRem(100)
$h1-line-height-desktop: pxToRem(90)
$h1-text-transform: uppercase
$h1-weight: normal

// h2
$h2-size-desktop: pxToRem(45)
$h2-line-height-desktop: 100%
$h2-text-transform: uppercase

// h3
$h3-size-desktop: pxToRem(34)
$h3-line-height-desktop: 107%
$h3-text-transform: uppercase
$h3-weight: 600

// h3
$h5-size-desktop: pxToRem(17)
$h5-line-height-desktop: 130%
$h5-font-family: $body-font-family

// meta
$meta-font-family: $body-font-family
$meta-size-desktop: pxToRem(17)
$meta-line-height-desktop: 100%
$meta-weight: normal 
$meta-letter-spacing: 1px

// lead
$lead-size-desktop: pxToRem(45)
$lead-line-height-desktop: pxToRem(50)
$lead-sidebar-line-height: 120%

// COMPONENTS
// header
$header-logo-height-desktop: pxToRem(43)
$header-background: none
$header-border-bottom-width: 0

// hero
$hero-background-color: none
$hero-height: unset
$hero-height-desktop: unset

// footer
$footer-background-color: none
$footer-logo-height-desktop: pxToRem(83)
$footer-icons-enabled: false

// button
$btn-border-radius: 0

// GRID
$grid-gutter: pxToRem(20)
$grid-gutter-lg: pxToRem(20)
$grid-gutter-xxl: pxToRem(20)

// BlOCKS
$block-space-y-desktop: space(35)
$heading-margin-top: space(20)
$heading-margin-top-with-sidebar: space(45)

// gallery
$block-gallery-carousel-background: transparent
$block-gallery-carousel-height-desktop: pxToRem(552)

// ICONS
$icons-custom-font-family: 'icomoon'
$icons-custom: ()
$icons-custom: map-merge($icons-custom, ("search-line": "\e900"))
$icons-custom: map-merge($icons-custom, ("links-line": "\e901"))
$icons-custom: map-merge($icons-custom, ("arrow-left-line": "\e902"))
$icons-custom: map-merge($icons-custom, ("arrow-right-line": "\e903"))