
// TYPOGRAPHY
$heading-font-family: "Playfair Display", serif
$body-font-family: 'Afacad Flux'

// h1
$h1-weight: normal

$header-background: none
$header-border-bottom-width: 0
$hero-background-color: none
$footer-background-color: none