.block
    @include media-breakpoint-up(desktop)
        &.block-title
            margin-bottom: space(10)

        .top
            margin-bottom: space(5)

.taxonomies-list--inline
    @include media-breakpoint-down(desktop)
        margin-bottom: var(--grid-gutter)