.block-call_to_action
    .call_to_action
        .actions
            a:first-child
                --btn-min-width: unset

    // footer cta (landscape image as bg)
    .footer-contents.contents-full-width &
        background: none
        margin-top: 0
        overflow: hidden
        position: relative
        .block-content
            background-color: var(--cta-background-color)
            margin-left: 0
            margin-right: 0
            position: relative
        .call_to_action

            &.call_to_action--with-image
                > div
                    position: relative
                    z-index: 2
                    .block-title
                        @include h2
                    .description
                        p
                            @include body-text
                            text-transform: none
                    .actions
                        a:first-child
                            --btn-background: transparent
                            --btn-color: var(--color-background)
                            --btn-hover-background: var(--color-background)
                            --btn-hover-color: var(--color-text)
                            &:hover
                                --btn-hover-border: 1px solid var(--btn-hover-background)
                figure
                    bottom: 0
                    left: 0
                    opacity: 0.46
                    pointer-events: none
                    position: absolute
                    right: 0
                    top: 0
                    .lightbox-button,
                    picture
                        height: 100%
                        img
                            object-fit: cover
                            height: 100%
                &::after
                    background: var(--color-text)
                    background: linear-gradient(0deg,rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%)
                    bottom: 0
                    content: ''
                    height: 100%
                    left: 0
                    position: absolute
                    right: 0
                
        @include media-breakpoint-down(desktop)
            // specific for footer
            .call_to_action
                padding: var(--grid-gutter)


        @include media-breakpoint-down(desktop)
            .call_to_action
                &.call_to_action--with-image
                    figure
                        margin-bottom: 0

        @include media-breakpoint-up(desktop)
            .block-content
                padding: space(82) space(9) space(13)
            .call_to_action
                &.call_to_action--with-image
                    > div
                        align-items: center
                        display: flex
                        grid-column: 1/13
                        justify-content: space-between
                        .block-title
                            width: columns(7)
                        .description
                            width: columns(7)
                        .actions
                            margin-top: 0
                            a:first-child
                                margin-top: 0
                                margin-right: 0

                    figure::after
                        height: 50%