.block-chapter
    &--with-image
        @include in-page-without-sidebar
            .chapter
                .text
                    order: 2
                figure
                    width: columns(5)

    @include in-page-with-sidebar
        .chapter
            .rich-text
                width: columns(7)