.block-image
    @include in-page-without-sidebar
        figure.image-landscape
            picture
                margin-left: 0
                margin-right: 0
    
    @include media-breakpoint-down(desktop)
        figure.image-landscape
            picture
                margin-left: 0
                margin-right: 0

    @include media-breakpoint-up(desktop)
        picture
            margin-left: 0
            margin-right: 0