.block-video
    @include in-page-without-sidebar
        background-color: black
        color: white
        .block-content
            display: block
            padding-bottom: $spacing-4
            padding-top: var(--grid-gutter)
            .video
                width: columns(8)
                margin-left: offset(2)
            p
                margin-top: $spacing-4
                text-align: center