.page__home
    .hero
        h1
            max-width: 12ch

    .blocks
        .block:not(.block-posts)
            .block-title
                @include h1
                @include media-breakpoint-up(desktop)
                    @media (max-width: 1360px)
                        font-size: pxToRem(80)
                        line-height: pxToRem(70)
                    @media (max-width: 1200px)
                        font-size: pxToRem(60)
                        line-height: pxToRem(50)                    
        
        .block-chapter
            .notes
                a:only-child
                    text-transform: uppercase
                    text-decoration-color: inherit

        .block-posts
            border-top: 1px solid var(--color-text)
            padding-top: var(--grid-gutter)

    @include media-breakpoint-up(desktop)
        .hero
            padding-bottom: space(30)
        .blocks
            .block-chapter
                .top
                    margin-bottom: space(15)
                .rich-text
                    width: columns(6)

                &:not(.block-chapter--with-image)
                    .text
                        display: flex
                        column-gap: var(--grid-gutter)
                        width: columns(12)
                        flex-wrap: wrap
                        .top
                            width: columns(5)
                        .notes
                            margin-left: offset(5)

                &.block-chapter--with-image
                    .top
                        padding-right: offset(1)
            
            .block-pages--grid.block-class-custom-grid
                .pages
                    @include grid(2)
                    row-gap: $spacing-5