.posts
    &--list
        @include in-page-without-sidebar
            li
                padding-bottom: 0
                border-bottom: 0
            .post
                .post-content
                    width: columns(8)
                .post-categories
                    margin-top: space(5)
                .media
                    width: columns(2)