.posts
    &--list
        @include in-page-without-sidebar
            li
                border-bottom: 0
                padding-bottom: 0
            .post
                .post-content
                    width: columns(8)
                .post-categories
                    margin-top: space(5)
                .media
                    width: columns(2)

// section
.posts__section,
.posts_categories__term
    .hero
        padding-bottom: 0