.projects
    &--grid
        .project
            .media
                img
                    aspect-ratio: 1
                    object-fit: cover

        @include in-page-without-sidebar
            @include grid(3)
            row-gap: $spacing-5

        @include media-breakpoint-up(desktop)
            .project
                .media
                    margin-bottom: $spacing-1

        @include media-breakpoint-down(desktop)
            .project
                .media
                    margin-left: 0
                    margin-right: 0

    .project
        .project-subtitle
            @include body-text
            color: var(--color-text)

        @include media-breakpoint-up(desktop)
            .project-categories
                margin-top: $spacing-3

// section
.projects__section,
.projects_categories__term
    .hero
        padding-bottom: 0

// page
.projects__page
    .hero
        .hero-text
            h1
                @include h1
                span
                    @include h3
                    color: var(--color-text)
                    font-family: $body-font-family
                    font-weight: normal
                    line-height: 100%
                    margin-top: $spacing-3

        .dropdown-share
            display: none
            // left: 0
            // right: unset
            // button,
            // .dropdown-menu
            //     @include button-reset
            // button
            //     @include meta
            //     border-bottom: 1px solid var(--color-text)
            //     padding: 0
            //     min-width: unset
            //     align-items: baseline
            //     text-transform: uppercase
            //     width: unset
            // .dropdown-menu
            //     background: var(--color-background)
            //     .share
            //         a
            //             padding-bottom: 0
            //         a:first-child
            //             padding-left: 0

        figure
            img
                aspect-ratio: 1
                object-fit: cover

    .block-summary
        border-bottom: 1px solid var(--color-text)
        padding-bottom: $spacing-2
        margin-bottom: 0
        .lead p
            text-transform: uppercase
        + .blocks
            .block-datatable:first-child
                margin-top: 0
                th
                    font-weight: normal
                tbody
                    tr:first-child
                        td
                            border-top: none
    
    @include media-breakpoint-up(desktop)
        .hero
            .content
                position: relative
            .hero-text
                gap: var(--grid-gutter)
                position: static
            .projects-meta
                margin-top: var(--grid-gutter)
            // .dropdown-share
            //     left: 0
            //     right: unset