.projects
    &--grid
        @include in-page-without-sidebar
            @include grid(3)
            row-gap: $spacing-5

        .project
            .media
                img
                    aspect-ratio: 1
                    object-fit: cover

    .project
        .project-subtitle
            @include body-text
            color: var(--color-text)

        @include media-breakpoint-up(desktop)
            .project-categories
                margin-top: $spacing-3
                a
                    text-decoration: none
                    &:hover
                        text-decoration: underline

// page
.projects__page
    .hero
        .hero-text
            h1
                @include h1
                span
                    @include h3
                    color: var(--color-text)
                    font-family: $body-font-family
                    font-weight: normal
                    line-height: 100%
                    margin-top: $spacing-3

        .dropdown-share
            display: none
            // left: 0
            // right: unset
            // button,
            // .dropdown-menu
            //     @include button-reset
            // button
            //     @include meta
            //     border-bottom: 1px solid var(--color-text)
            //     padding: 0
            //     min-width: unset
            //     align-items: baseline
            //     text-transform: uppercase
            //     width: unset
            // .dropdown-menu
            //     background: var(--color-background)
            //     .share
            //         a
            //             padding-bottom: 0
            //         a:first-child
            //             padding-left: 0

        figure
            img
                aspect-ratio: 1
                object-fit: cover

    .block-summary
        border-bottom: 1px solid var(--color-text)
        padding-bottom: $spacing-2
        margin-bottom: 0
        .lead p
            text-transform: uppercase
        + .blocks
            .block-datatable:first-child
                margin-top: 0
                th
                    font-weight: normal
    
    @include media-breakpoint-up(desktop)
        .hero
            .content
                position: relative
            .hero-text
                gap: var(--grid-gutter)
                position: static
            .projects-meta
                margin-top: 0
            // .dropdown-share
            //     left: 0
            //     right: unset

// section
.projects__section
    .section-taxonomies-container
        .taxonomies-list--inline
            padding-right: var(--grid-gutter)
            position: absolute
            right: 0
            top: 0
            transform: translateY(-100%)
            margin-top: var(--grid-gutter-negative)
        .taxonomies-list--inline,
        .taxonomy-categories-list
            display: flex
            gap: var(--grid-gutter)
            a
                text-decoration: none
                &:hover
                    text-decoration: underline