ul[class*="-categories"]:not(.taxonomy-categories-list),
.taxonomies-single
    li
        a
            background: var(--color-text)
            color: var(--color-background) !important
            padding: space() $spacing-1
            text-decoration: none