footer#document-footer
    padding-bottom: var(--grid-gutter)
    padding-top: space(30)
    .footer-legals,
    .footer-social
        li, a, p
            color: var(--color-text-alt)

    @include media-breakpoint-down(desktop)
        .footer-logo
            display: flex
            justify-content: center

    @include media-breakpoint-up(desktop)
        padding-top: space(56)
        .container
            align-items: center
            &:first-child
                flex-direction: column
                padding-bottom: 0
            + .container
                flex-wrap: wrap
                gap: space(10)
                justify-content: center
                padding-top: space(51)

        .footer-social
            .site-links
                display: flex
                gap: space(10)
                flex-wrap: wrap
                justify-content: center
                li + li
                    margin-top: 0

        .footer-legals
            &, > ul
                display: flex
                flex-wrap: wrap
                gap: space(10)
                justify-content: center
            li + li, 
            p
                margin-top: 0

        .footer-i18n
            min-width: unset
            span
                padding: $spacing-2 0 0 !important
                margin-left: 0 !important

    @include media-breakpoint-up(xxl)
        .container + .container
            gap: space(15)
        .footer-social
            .site-links
                gap: space(15)
        .footer-legals
            &, ul
                gap: space(15)

// footer's blocks
.footer-contents
    .block-class-socials
        border-top: 1px solid var(--color-text)
        padding-top: var(--grid-gutter)
        .block-title
            @include h5
        .links
            > li
                a
                    @include meta
                    color: var(--color-text-alt)
                    &::after
                        content: none

        @include media-breakpoint-down(desktop)
            .links
                row-gap: var(--grid-gutter)
                > li
                    align-items: center
                    flex-direction: row

        @include media-breakpoint-up(desktop)
            .block-content
                display: flex
                gap: var(--grid-gutter)
            .block-title
                width: columns(4)
            .links
                display: flex
                justify-content: flex-end
                gap: space(17)
                width: columns(8)
                > li
                    align-items: center
                    flex-direction: row