footer#document-footer
    padding-bottom: var(--grid-gutter)
    padding-top: space(30)
    .footer-legals,
    .footer-social
        li, a, p
            color: var(--color-text-alt)

    @include media-breakpoint-down(desktop)
        .footer-logo
            display: flex
            justify-content: center

    @include media-breakpoint-up(desktop)
        padding-top: space(56)
        .container
            align-items: center
            &:first-child
                flex-direction: column
                padding-bottom: 0
            + .container
                flex-wrap: wrap
                gap: space(10)
                justify-content: center
                padding-top: space(51)

        .footer-social
            .site-links
                display: flex
                gap: space(10)
                flex-wrap: wrap
                justify-content: center
                li + li
                    margin-top: 0

        .footer-legals
            &, > ul
                display: flex
                flex-wrap: wrap
                gap: space(10)
                justify-content: center
            li + li, 
            p
                margin-top: 0

        .footer-i18n
            min-width: unset
            span
                padding: $spacing-2 0 0 !important
                margin-left: 0 !important

    @include media-breakpoint-up(xxl)
        .container + .container
            gap: space(15)
        .footer-social
            .site-links
                gap: space(15)
        .footer-legals
            &, ul
                gap: space(15)

// footer's blocks
.footer-contents
    .block:first-child
        margin-top: 0

    // socials networks inline
    .block-class-socials
        border-top: 1px solid var(--color-text)
        padding-top: var(--grid-gutter)
        .block-title
            @include h5
        .links
            > li
                a
                    @include meta
                    color: var(--color-text-alt)
                    &::after
                        content: none

        @include media-breakpoint-down(desktop)
            .links
                row-gap: var(--grid-gutter)
                > li
                    align-items: center
                    flex-direction: row

        @include media-breakpoint-up(desktop)
            .block-content
                display: flex
                gap: var(--grid-gutter)
            .block-title
                width: columns(4)
            .links
                align-items: flex-start
                display: flex
                justify-content: flex-end
                gap: space(17)
                line-height: 1
                width: columns(8)
                > li
                    align-items: center
                    flex-direction: row

    // two links for labels and collection
    .block-class-links-nav
        .links
            @include grid(2, md)
            > li
                background: var(--color-text)
                color: var(--color-background)
                .link-content
                    bottom: 0
                    padding: var(--grid-gutter)
                    position: absolute
                    display: flex
                    flex-direction: column
                    justify-content: flex-end
                    top: 0
                    z-index: 9
                    a
                        @include h3
                        font-weight: normal
                        &::after
                            bottom: unset
                            position: relative
                            right: unset
                    p
                        @include body-text
                        + p
                            margin-top: $spacing-3
                        b:only-child
                            @include meta
                            border: 1px solid var(--color-background)
                            display: table
                            padding: space(4) space(7)
                            text-transform: uppercase
                            transition: all $default-duration ease
                .media
                    img
                        aspect-ratio: 770/670
                &::after
                    background: var(--color-text)
                    background: linear-gradient(0deg,rgba(0, 0, 0, 1) 25%, rgba(255, 255, 255, 0) 100%)
                    bottom: 0
                    content: ''
                    height: 100%
                    left: 0
                    position: absolute
                    right: 0
                &:hover
                    p
                        b:only-child
                            background: var(--color-background)
                            color: var(--color-text)