footer#document-footer
    padding-bottom: var(--grid-gutter)
    padding-top: space(30)
    .footer-legals
        a, p
            color: var(--color-text-alt)

    @include media-breakpoint-down(desktop)
        .footer-logo
            display: flex
            justify-content: center

    @include media-breakpoint-up(desktop)
        padding-top: space(56)
        .container
            flex-direction: column
            align-items: center
            &:first-child
                padding-bottom: 0
            + .container
                padding-top: space(51)

        .footer-social
            order: -1
            width: 100%
            .site-links
                display: flex
                gap: var(--grid-gutter)
                flex-wrap: wrap
                justify-content: center
                margin-bottom: $spacing-3
                li + li
                    margin-top: 0
                li, a
                    color: var(--color-text-alt)

        .footer-legals
            width: 100%
            &, ul
                display: flex
                flex-wrap: wrap
                gap: space(15)
                justify-content: center
            li + li, 
            p
                margin-top: 0