header#document-header
    .nav-level-1
        a
            text-transform: uppercase
    .left-menu
        @include meta
        a
            &:not(.active)
                text-decoration: none

    @include media-breakpoint-up(desktop)
        a.active
            text-decoration: underline

        .menu
            .nav-search
                button
                    padding-left: $spacing-1

        .left-menu
            @include meta
            align-items: baseline
            display: flex
            order: -1
            a
                padding: $spacing-1 $spacing-2
                &:not(.active)
                    text-decoration: none
            li:first-child a
                padding-left: 0

    @include media-breakpoint-down(desktop)

        .menu
            order: 2
            margin-top: 0
            li:last-child
                border-bottom: 0

        .left-menu
            display: none
            margin-top: $spacing-3
            width: 100%
            html.has-menu-opened &
                display: block
            li
                border-bottom: var(--border-width) solid var(--color-border)
            a
                display: block
                padding-bottom: $spacing-3
                padding-top: $spacing-3

// icons
@font-face
    font-display: block
    font-family: 'icomoon'
    font-style: normal
    font-weight: 400
    src: url('/assets/fonts/icomoon/icomoon.woff') format("woff")