header#document-header
    @include media-breakpoint-up(desktop)
        .logo
            position: absolute
            left: 50%
            transform: translateX(-50%)
        .menu
            width: 100%
            ul
                > li:nth-child(3)
                    margin-left: auto
                a
                    text-transform: uppercase

// icons
@font-face
    font-display: block
    font-family: 'icomoon'
    font-style: normal
    font-weight: 400
    src: url('/assets/fonts/icomoon/icomoon.woff') format("woff")