.hero
    padding-bottom: 0

body[class*="__page"]
    .hero
        h1
            @include h2

    @include media-breakpoint-up(desktop)
        .hero
            padding-bottom: space(23)
            .content
                align-items: center

body[class*="__section"],
.page__home
    .hero
        .content
            flex-direction: column
            gap: var(--grid-gutter)
        figure
            width: 100%