.hero
    @include media-breakpoint-up(desktop)
        padding-bottom: space(20)
        &.hero--image-square,
        &.hero--image-portrait
            .hero-text
                padding-bottom: var(--grid-gutter)
                width: columns(9)
                h1
                    span
                        @include h2
                        color: var(--color-text)
                        margin-top: space(14)
                &::after
                    background: var(--color-text)
                    content: ''
                    height: 1px
                    left: var(--grid-gutter-negative)
                    margin-top: var(--grid-gutter)
                    position: absolute
                    right: var(--grid-gutter-negative)
                    width: 100%

        .single-meta.hero-meta
            row-gap: $spacing-3

    // smaller title
    body[class*="__page"] &
        h1
            @include h2

        @include media-breakpoint-up(desktop)
            padding-bottom: space(23)
            .content
                align-items: center

    // landscape image
    body[class*="__section"] &,
    .page__home &
        .content
            flex-direction: column
            gap: var(--grid-gutter)
        figure
            width: 100%
            img
                aspect-ratio: 1560/778
                object-fit: cover

        @include media-breakpoint-down(desktop)
            &.hero--image-portrait:where(:not(.has-breadcrumb-hero-end)), 
            &.hero--image-square:where(:not(.has-breadcrumb-hero-end))
                margin-bottom: 0

            figure
                margin: 0

    @include media-breakpoint-down(desktop)
        .hero-text
            margin-bottom: var(--grid-gutter) !important
            h1
                span
                    @include h3