.block-siblings-navigation
    ul a
        @include h3
        font-variant-numeric: lining-nums
        span
            text-transform: uppercase
            
    .siblings-navigation
        border-top: none